<section class="wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="title">Log in</p>
    <input type="text" placeholder="Username" autofocus formControlName="username" />
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" formControlName="password" />
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <button type="submit">
      <i class="spinner"></i>
      <span class="state">Log in</span>
    </button>
    <app-loader [state]="loaderState()" />
  </form>
</section>